::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

::-webkit-scrollbar {
    display: none;
}

/* Removes caret from dropdown buttons */
.dropdown-toggle::after {
    display: none !important;
}

select {
    -moz-appearance: none;
}

/* Custom Classes */

.scrollable-list {
    height: 82vh;
    overflow-y: scroll;
}